<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Title goes here{% endblock %}</title>
    <link rel='stylysheet' href='/static/css/styles.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav class="navbar navbar-inverse">
    <div class="container-fluid"> 
    <div class="nav navbar-nav">
        <li><a href="/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
    </div>
    <ul class="navbar navbar-left "> 
    <form action="/search">
    <input type="text" placeholder="Search.." name="search">
    <input type="text" placeholder="Address" name="address">
    <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </form>  
</ul>
        <ul class="nav navbar-nav navbar-right">
            {% if 'user_id' in session %}
            <li><a href="/logout"><span id="logout" class="glyphicon glyphicon-log-out" ></span>Logout</a></li>  
            <li><a href="/my_account">My account</a></li>
            {% else %}
            <li><a href="/sign_up"><span class="glyphicon glyphicon-sign-up"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> 
            {% endif %}
        </ul>
    </div>
</nav>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<ul> 
 {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <li> {{message}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</ul>    
{% block content %}body content goes here{% endblock %}  

    </body>
</html>  
