{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block content %}
 
<form action="/login" method = "post">
  <div class="container">
    <h3>Login In to Your Account</h3> 
    <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email" name="email" required>
</div>

    <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="text" placeholder="Password" name="password" required>
</div>

    
    <button type="submit" class="btn">Log in</button>
   
</form>
    
    </div>

{% endblock %}