{% extends "base.html" %}
{% block title %}search_results{% endblock %}
{% block content %}

<form action='/search'>
    <h3>Search Results</h3>
     {% for place in places %} 
     <table >
       <tr>
            <th style="width:100px"></th>
            <th style="width:100px"></th>
        </tr>
    <tr>        
    <td ><img src ="{{place.image_url}}" style=" display: block; width:30%"/>
    <a href="/results?id={{place.id}}&name={{place.name}}">{{place.name}}</a></td>
   </tr><br>
 </table> 
{% endfor %}  
</form>

{% endblock %}


